[background-block=#00418a][url={{ parameters.urls.regions.horizon }}][img]{{ parameters.images.headers.horizon }}[/img][/url][center][size=50][table=plain][tr][td][url={{ templates.welcome_hzn.url }}][img]{{ parameters.images.buttons.welcome_h }}[/img][/url][/td][td][url={{ parameters.dispatches.government }}][img]{{ parameters.images.buttons.gov_h }}[/img][/url][/td][td][url={{ parameters.dispatches.roleplay }}][img]{{ parameters.images.buttons.roleplay_h }}[/img][/url][/td][td][url={{ parameters.dispatches.military }}][img]{{ parameters.images.buttons.military_h }}[/img][/url][/td][/tr]
[/table][/size][/center][/background-block]
{% block body %}{% endblock %}
[background-block=cyan][color=cyan].[/color][/background-block]  
[background-block=#f7d211][color=#f7d211].[/color][/background-block]  
[background-block=white][color=white].[/color][/background-block]  
[background-block=#00418a][color=#00418a].[/color][center][img]{{ parameters.images.footers.horizon }}[/img]  
[color=#00418a].[/color]  
[font=consolas][size=120][url={{ parameters.urls.discord }}][color=white][b]Join Our Discord[/b][/color][/url] [color=white] [b]|[/b][/color] [url={{ parameters.urls.regions.horizon }}#rmb][color=white][b]Visit Horizon[/b][/color][/url]  [color=white] [b]|[/b][/color] [url={{ parameters.urls.regions.starlight }}#rmb][color=white][b]Visit Our Sister Region Starlight[/b][/color][/url]  
[color=#231047].[/color][/size][/font][/center][/background-block]