[background-block=#062254][url={{ parameters.urls.regions.starlight }}][img]{{ parameters.images.headers.starlight }}[/img][/url][center][size=50][table=plain][tr][td][url={{ templates.welcome_stl.url }}][img]{{ parameters.images.buttons.welcome_stl }}[/img][/url][/td][td][url={{ templates.welcome_hzn.url }}][img]{{ parameters.images.buttons.welcome_hzn }}[/img][/url][/td][td][url={{ parameters.dispatches.government }}][img]{{ parameters.images.buttons.government }}[/img][/url][/td][td][url={{ parameters.dispatches.roleplay }}][img]{{ parameters.images.buttons.roleplay }}[/img][/url][/td][td][url={{ parameters.dispatches.military }}][img]{{ parameters.images.buttons.military }}[/img][/url][/td][/tr][/table][/size][/center][/background-block]
{% block body %}{% endblock %}
[background-block=#238de6][color=#238de6].[/color][/background-block]
[background-block=#14529e][color=#14529e].[/color][/background-block]
[background-block=#0d3b7a][color=#0d3b7a].[/color][/background-block]
[background-block=#062254][color=#096309].[/color][center][img]{{ parameters.images.footers.starlight }}[/img]
[color=#062254].[/color]
[font=consolas][size=120][url={{ parameters.urls.discord }}][color=white][b]Our Discord[/b][/color][/url] [color=white] [b]|[/b][/color] [url={{ parameters.urls.regions.starlight }}#rmb][color=white][b]Our RMB[/b][/color][/url]
[color=#231047].[/color][/size][/font][/center][/background-block]