{%- from "macros/starlight" import heading -%}
{%- from "macros/general" import section, endsection, divider -%}
{%- extends "layouts/combined" -%}
{%- block body -%}
[box]
{{- heading("Galactic Armada - Ranks") -}}
[align=center][size=120][b]✧ [url=#member]Member Ranks[/url] ✧ [url=#officer]Officer Ranks[/url] ✧[/b][/size][/align]

{{ section("Leadership") -}}
The Galactic Armada is jointly led by the [b][color=#e0c033]Triune Circle[/color][/b] as well as the [color=#ff92f9][b]Fleetmaster[/b][/color] (an appointed commander-in-chief of the military).

[b]Current Triune Circle:[/b]

[b]Current Fleetmaster:[/b]

{{- endsection() -}}
[/box][box][anchor=member][/anchor]
{{- section("Member Ranks") -}}[color=#add8e6][b]✧ Galactic Recruit[/b][/color][/size]

A newly enlisted member of the Armada, who has yet to undergo training.

[b]Rank Color: [color=#add8e6]#add8e6[/color][/b]

[i]Recruits are not listed here.[/i]


[hr]

[size=150][color=#008000][b]✧ Interceptor[/b][/color][/size]

A full member of the Armada who has completed basic training.

[b]Rank Color: [color=#008000]#008000[/color][/b]

[b]Requirements:[/b]
[list][*] Recruits are automatically promoted to Interceptors after having participated in one update.
[/list]

[b]Current Interceptors:[/b]
[spoiler][/spoiler]


[hr]

[size=150][color=#c71585][b]✧ Vanguard[/b][/color][/size]

A decently experienced member of the Armada experienced in all basic types of defending.

[b]Rank Color: [color=#c71585]#c71585[/color][/b]

[b]Requirements:[/b]
[list][*] Is able to consistently follow operation orders, including commands to endorse and cross-endorse nations, and move to a region.
[*] Is able to participate in detags, including performing cleanup after becoming delegate.
[*] Is able to consistently chase raiders into regions within few seconds.
[*] Owns several switcher puppets, can prepare them for update, and can quickly switch WA membership between them when needed.
[*] Understands the basic mechanics of update and military gameplay.
[*] Understands basic R/D terms such as "update", "switcher", "point", "cross", "trigger", etc.
[*] Has participated in at least 15 updates over the last 2 months.
[/list]

[b]Current Vanguards:[/b]
[spoiler][/spoiler]


[hr]

[size=150][color=#b22222][b]✧ High Vanguard[/b][/color][/size]

A seasoned and experienced veteran of the Armada, capable of reliably setting and calling triggers.

[b]Rank Color: [color=#b22222]#b22222[/color][/b]

[b]Requirements:[/b]
[list][*] Can reliably set and call both nation and region triggers.
[*] Is capable of watching region and world activity for new admits and moves and detect suspicious activity.
[*] Has participated in at least 20 updates over the last 2 months.
[*] Has participated in at least 50 updates overall.
[/list]

[b]Current High Vanguards:[/b]
[spoiler][/spoiler]

[/box][box][anchor=officer][/anchor]
{{- section("Officer Ranks") -}}[color=#001f3f][b]✧ Marshal[/b][/color][/size]

A junior officer of the Armada, capable of guiding and training new recruits and leading small operations.

[b]Rank Color: [color=#001f3f]#001f3f[/color][/b]

[b]Requirements:[/b]
[list][*] Can explain basic R/D terms to new recruits.
[*] Can guide members through the process of creating nations, endorsing and cross-endorsing nations, and moving on orders.
[*] Can guide members through all basic kinds of defending, including liberations, defenses, chases and detags.
[*] Can autonomously organize and carry out training operations, including mock liberations, defenses, chases and detags.
[*] Can point offensive and defensive operations.
[*] Understands the basic mechanics of influence and can calculate costs for Border Control actions.
[*] Has participated in at least 30 updates over the last 3 months.
[/list]

[b]Current Marshals:[/b]


[hr]

[size=150][color=#3d1e6d][b]✧ Nova Marshal[/b][/color][/size]

A senior officer of the Armada, capable of leading and commanding operations of all kinds and sizes.

[b]Rank Color: [color=#3d1e6d]#3d1e6d[/color][/b]

[b]Requirements:[/b]
[list][*] Can autonomously plan out an offensive or defensive operation.
[*] Can consistently prepare and send out clear and understandable orders.
[*] Can clearly coordinate with other officers to oversee the distribution of operation roles, including points, triggers and sending of orders.
[*] Has participated in at least 30 updates over the last 3 months.
[*] Has participated in at least 100 updates overall.
[/list]

[b]Current Nova Marshals:[/b]

[/box]

[i]This dispatch is updated automatically.[/i]
{%- endblock -%}