{%- from "macros/starlight" import heading -%}
{%- from "macros/general" import section, endsection, divider -%}
{%- extends "layouts/starlight" -%}
{%- block body -%}
[box]
{{- heading("Biweekly Endorsement Competition - Win a Legendary Card!") -}}
{{- section("What is this about?") -}}
As a World Assembly member within Starlight, you can endorse as many of your regionmates as you want.

Doing this benefits yourself as well as others and the region as a whole - the more people you endorse, more will endorse you back, and the more endorsements you have, the more your influence in the region will grow!

To reward this, we're giving out one [b][url=https://www.nationstates.net/nation=starlit_constellations/page=deck/?filter=legendary]{{ parameters.icons.cards }} free legendary card[/url][/b] every two weeks to whoever has endorsed the most nations.
{{- endsection() -}}
{{- section("How do I participate?") -}}
First, make sure you have endorsed [nation]Vintrel[/nation] and [nation]Kaidan[/nation].

After that, the easiest way to endorse other nations in the region is through this website: [b][url=https://tart.calref.ca/]tart.calref.ca[/url][/b].
Enter your nation name and the region name (Starlight), and it will give you a list of nations you have not endorsed yet.

You don't have to endorse all of them at once! You can endorse a few and come back later. The list on the website updates once per day.

Once you're done endorsing everyone, great job! However, it does not end there. Remember to check back every few days as new nations join the region so you can endorse them as well!

If you don't want to use the website to endorse people, you can also find nations to endorse in the list below.
{{- endsection() -}}
{{- section("Current Standings") -}}
Below is a list of every World Assembly member in Starlight, ordered by the amount of endorsements they have given to other nations.

[b]14 days[/b] after the creation of this dispatch, whoever is at the top of this list will be picked as the winner of this competition. If there is a tie, a winner will be picked at random.

The winner will be announced on the [b][url=https://www.nationstates.net/region=starlight#rmb]{{ parameters.icons.rmb }} Regional Message Board[/url][/b], and a new version of this dispatch will be created, marking the start of another competition.

[i]The list below is updated once a day, at around 3:20AM EST.[/i]

[table][tr][td]Nation[/td][td]Endorsements Given[/td][/tr]
{%- for item in generated.tart -%}
[tr][td][nation]{{ item.nation }}[/nation][/td][td]{{ item.endos }}[/td][/tr]
{%- endfor -%}
[/table]{{- endsection() -}}[/box]

[i]This dispatch is updated automatically.[/i]
{%- endblock -%}