{%- from "macros/horizon" import heading -%}
{%- from "macros/general" import section, endsection, divider -%}
{%- extends "layouts/horizon" -%}
{%- block body -%}
[box]
{{- heading("Please endorse our new Celestial Sentinel, Alainian Otters!") -}}
{{- section("Why have I been mentioned?") -}}
Recently, [nation]Alainian Otters[/nation] was appointed as a Celestial Sentinel, or vice-delegate, in [region]Horizon[/region].

For regional security reasons, it is important for as many of Horizon's residents as possible to endorse them. Therefore, you have been mentioned here because you are not yet endorsing [nation]Alainian Otters[/nation].

It takes one minute to do so and helps greatly.
{{- endsection() -}}
{{- section("How do I endorse?") -}}
Endorsing them is simple: just click on their nation link, scroll down to the end of the page, and click the button labeled "Endorse Alainian Otters".

[list][*][b][url=https://www.nationstates.net/nation=alainian_otters#endorse]{{ parameters.icons.wa }} Endorse Alainian Otters Here[/url][/b][/list]

Thank you for your contribution to our region's stability and security.
{{- endsection() -}}
[/box]
[box][spoiler=Nations not endorsing Alainian Otters]
{{- generated.region_hzn.slackers.alainian_otters|nation_table(8) -}}
[/spoiler]
[/box]

[i]This dispatch is updated automatically. Please report any inaccuracies in the data to [nation]Merethin[/nation].[/i]
{%- endblock -%}