{%- from "macros/starlight" import heading -%}
{%- from "macros/general" import section, endsection, divider -%}
{%- extends "layouts/starlight" -%}
{%- block body -%}
[box]
{{- heading("Hyperion Guards") -}}
{{- section("Introduction") -}}
The Hyperion Guards are an elite group, known for their loyalty and commitment to our mission of spreading Starlight's influence across the universe. This dispatch outlines how you can join this distinguished order and the benefits of membership.
{{- endsection() -}}
{{- section("How To Join") -}}
Becoming a Hyperion Guard is straightforward! Simply join the [url=https://www.nationstates.net/page=un][b][font=nationstates][/font] World Assembly[/b][/url] and endorse our delegate, [b][nation]Vintrel[/nation][/b], as well as Celestial Sentinel [b][nation]Kaidan[/nation][/b].
{{- endsection() -}}
{{- section("Membership Benefits") -}}
[list=1]
[*] Gaining Starborn (citizen) status, which allows you to [b][url=https://www.nationstates.net/page=dispatch/id=2580674]vote, run in elections, and hold regional office[/url][/b].
[*] Easy and immediate, discord-free, access to our [b][url=https://www.nationstates.net/page=dispatch/id=2769410]regional roleplay[/url][/b].
[*] Increased regional influence by [b][url={{ templates.endotart.url }}][font=nationstates][/font] collecting endorsements[/url][/b].
[/list]
{{- endsection() -}}
{{- section("Checking Membership") -}}
A list of all current Hyperion Guards is included in this dispatch and updated daily (at around 3:20AM EST). For questions, feel free to telegram [b][nation]Lumeris[/nation][/b].
{{- endsection() -}}
[/box][box][center][img]https://i.ibb.co/Pzs8CJyY/2g-Tntzt.png[/img][/center]
{{ generated.hyperion_stl|nation_table(5) }}
[/box]

[i]This dispatch is updated automatically.[/i]
{%- endblock -%}