{%- from "macros/starlight" import heading -%}
{%- from "macros/general" import section, endsection, divider -%}
{%- extends "layouts/starlight" -%}
{%- block body -%}
[box]
{{- heading("Endorse the Delegate and Sentinels!") -}}
{{- section("Why have I been mentioned?") -}}
You have been mentioned in this dispatch because you are in the World Assembly and not endorsing at least one of the following nations:
[list][*]Delegate [b][nation]Vintrel[/nation][/b]
[*]Celestial Sentinel [b][nation]Kaidan[/nation][/b][/list]
{{- endsection() -}}
{{- section("Why should I endorse?") -}}
There are a number of reasons why you should endorse [nation]Vintrel[/nation] and [nation]Kaidan[/nation]:
[list]
[*] It increases the region's security and power in the World Assembly, and by extension your own as well.
[*] You will become eligible to join our roleplays, from galaxy spanning adventures in [url={{ parameters.dispatches.celestara }}][b]Celestara[/b][/url] to postmodern tech intrigue in [url={{ parameters.dispatches.nebulon }}][b]Nebulon[/b][/url]!
[*] You can join [url={{ parameters.dispatches.nebulon_map }}][b]our regional map[/b][/url].
[*] You will be able to become a citizen, and thus have [url={{ parameters.dispatches.government }}][b]the power to vote, run for office, and shape our future![/b][/url]
[*] You will stop getting mentioned in this dispatch.
[/list]
{{- endsection() -}}
{{- section("How do I endorse?") -}}
Endorsing these nations is simple: just click on their nation link, scroll down to the end of the page, and click the button labeled "Endorse {nation}".

[list][*][b][url=https://www.nationstates.net/nation=vintrel#endorse][font=nationstates][/font] Endorse Vintrel Here[/url][/b]
[*][b][url=https://www.nationstates.net/nation=kaidan#endorse][font=nationstates][/font] Endorse Kaidan Here[/url][/b][/list]

After you've endorsed them, you may be interested in collecting some endorsements of your own! 
To do that, you can endorse everyone in the region using this tool: [b][url=https://tart.calref.ca/]tart.calref.ca[/url][/b].
Many people, when endorsed, will endorse you back, so this will boost your endorsement count significantly!
{{- endsection() -}}
[/box]
[box][spoiler=Nations not endorsing Vintrel]
{{- generated.slackers.vintrel|nation_table(8) -}}
[/spoiler]
[spoiler=Nations not endorsing Kaidan]
{{- generated.slackers.kaidan|nation_table(8) -}}
[/spoiler]

[i]These lists are updated once a day, at around 3:20AM EST.[/i]
[/box]

[i]This dispatch is updated automatically.[/i]
{%- endblock -%}