{%- from "macros/horizon" import heading -%}
{%- from "macros/general" import section, endsection, divider -%}
{%- extends "layouts/horizon" -%}
{%- block body -%}
[box]
{{- heading("Endorse the Delegate and Sentinels!") -}}
{{- section("Why have I been mentioned?") -}}
You have been mentioned in this dispatch because you are in the World Assembly and not endorsing at least one of the following nations:
[list][*]Delegate [b][nation]Oseao[/nation][/b]
[*]Celestial Sentinel [b][nation]The Assorted[/nation][/b]
[*]Celestial Sentinel [b][nation]Irenima[/nation][/b][/list]
{{- endsection() -}}
{{- section("Why should I endorse?") -}}
There are a number of reasons why you should endorse [nation]Oseao[/nation], [nation]The Assorted[/nation] and [nation]Irenima[/nation]:
[list]
[*] It increases the region's security and power in the World Assembly, and by extension your own as well.
[*] You will become eligible to join our roleplays, from medieval high fantasy in [url=https://www.nationstates.net/page=dispatch/id=2732792][b]Dawnbreak[/b][/url] to galaxy spanning adventures in [url=https://www.nationstates.net/page=dispatch/id=2573250][b]Celestara[/b][/url]!
[*] You can join [url=https://www.nationstates.net/page=dispatch/id=2732792][b]our regional map[/b][/url].
[*] You will be able to become a citizen, and thus have [url=https://www.nationstates.net/page=dispatch/id=2580674][b]the power to vote, run for office, and shape our future![/b][/url]
[*] You will have a chance of winning a [b][url=https://www.nationstates.net/nation=starlit_constellations/page=deck/?filter=legendary][font=nationstates][/font] free legendary card[/url][/b] every two weeks.
[*] You will stop getting mentioned in this dispatch.
[/list]
{{- endsection() -}}
{{- section("How do I endorse?") -}}
Endorsing these nations is simple: just click on their nation link, scroll down to the end of the page, and click the button labeled "Endorse {nation}".

[list][*][b][url=https://www.nationstates.net/nation=oseao#endorse][font=nationstates][/font] Endorse Oseao Here[/url][/b]
[*][b][url=https://www.nationstates.net/nation=the_assorted#endorse][font=nationstates][/font] Endorse The Assorted Here[/url][/b]
[*][b][url=https://www.nationstates.net/nation=irenima#endorse][font=nationstates][/font] Endorse Irenima Here[/url][/b][/list]
{{- endsection() -}}
[/box]
[box][spoiler=Nations not endorsing Oseao]
{{- generated.slackers.oseao|nation_table(8) -}}
[/spoiler]
[spoiler=Nations not endorsing The Assorted]
{{- generated.slackers.the_assorted|nation_table(8) -}}
[/spoiler]
[spoiler=Nations not endorsing Irenima]
{{- generated.slackers.irenima|nation_table(8) -}}
[/spoiler]

[i]These lists are updated once a day, at around 3:15AM EST.[/i]
[/box]

[i]This dispatch is updated automatically.[/i]
{%- endblock -%}