{%- from "macros/starlight" import heading -%}
{%- from "macros/general" import section, endsection, divider -%}
{%- extends "layouts/combined" -%}
{%- block body -%}
[box]
{{- heading("A Basic Introduction to the World Assembly") -}}
{{- section("How can I draft a proposal?") -}}
Drafting proposals is a relatively straightforward process. The largest contributor to complexity is interacting with feedback and time spent working. But first, let's examine the initial steps.

To start, you will want to have a solid topic to write about. This can be almost anything; however, the best topics are ones that can be applied internationally. When considering topics, make sure to weigh whether it is really an international issue, and how members could be affected. Once you have one, start writing! Your first draft(s) may not be very pretty, but the intent is to find how your idea works best. Play around with a draft until you are satisfied, and once you are, post a new thread in the General Assembly forum on NS. This step allows others to see and review your proposal easily for the next step.

Once you have put out a public draft, other players will be able to comment as they please. When receiving feedback, be courteous of others and recognize that they are trying to be helpful. Weigh the feedback and determine whether it is worth implementing into the proposal. Drafting can be short or it can be long; while a month of drafting time is recommended as a minimum, longer development can be very helpful to making sure your proposal is refined, especially if it is on a more complex topic.

When you are fully satisfied with your draft, you can submit your proposal and get approvals. Don't be afraid to pull it back if a critical issue is found; a strong proposal is much more likely to pass.
{{- endsection() -}}
{{- section("But how can I, someone with no prior experience, draft a proposal?") -}}
If you're a Starborn, you can take advantage of the WAA Ministry's Proposal Drafting Scheme - simply join [url={{ parameters.urls.discord }}]our Discord server[/url] and sign up [url=https://discordapp.com/channels/1299450621044330616/1403075959145631814/1509346175256363048]in the relevant threads[/url]! It's quick and easy, and we can help you either develop an existing idea, or assign you one and group you with other people interested in the same topic to get you started on the authoring stage. Sign up today!
{{- endsection() -}}
{{- section("What are all these repeals? What does 'NatSov' mean?") -}}
The modern General Assembly (GA) is broadly divided into two camps - National Sovereigntists (NatSovs) and International Federalists (IntFeds). Broadly speaking, NatSovs support the freedom of individual nations to decide their own laws and policies (i.e. have sovereignty), whereas IntFeds prefer using the World Assembly to mandate improvements to all member states. Currently, NatSovs are firmly in control of the General Assembly, not least because of the major voting bloc, the Sovereign Seven (S7), which adopts a National Sovereignty position, and of which Starlight & Horizon is a member. At the time of writing, the S7 maintains over 1650 combined Delegate endorsements, providing it with a powerful base to control the GA. This NatSov stance is also responsible for the large number of repeals seen in the GA as of late, as proposals against NatSov ideas are struck out from the books (as well as those which are more generally outdated). 

The GA is also currently being reformed by the NS staff team as part of their GA 2026 plan, of which the most key aspect is the 'reset' - where, on July 1st 2026, all existing GA resolutions will be permanently archived, leaving a blank canvas for authors to start work. This has led to the proliferation of so-called 'post-reset' drafts: proposals planned to be submitted immediately after the reset occurs, and likely leading to a months-long queue forming. No prominent authors are submitting drafts to the current GA queue - all proposals in the queue at the time of the reset will be discarded, and as there are enough proposals currently to last until past the reset, there is no need to submit more. 
{{- endsection() -}}
{{- divider() -}}
{{- section("Who made this dispatch? How can I join them?") -}}
This dispatch was written and published by the Ministry of World Assembly Affairs! Interested in helping us produce dispatches like this, regular voting recommendations, or our monthly newsletter? Join the ranks of the Ministry [url=https://discordapp.com/channels/1299450621044330616/1494359486704386169]in our Discord server[/url]! [i]You must be Starborn to apply.[/i]

[b]Leadership:[/b]
[nation]Cessarea[/nation] - Minister
[nation]Idinist[/nation] - Deputy Minister
[nation]Xaeloa[/nation] - Deputy Minister

[b]Staffers (in no particular order):[/b]
[nation]Andromisa / [nation]Centennium[/nation]
[nation]Borealicar / [nation]Felinrefugia[/nation]
[nation]Chreeno[/nation]
[nation]Dogeland[/nation] / [nation]MLGDoggoland[/nation]
[nation]Excidium Planetis[/nation] / [nation]Dawn Fleet[/nation]
[nation]Untecna[/nation] / [nation]The Lizard Army[/nation]
[nation]A1[/nation]
[nation]Vintrel[/nation]
[nation]Missouria[/nation]
[nation]Nanaea[/nation] / [nation]Xattia[/nation]
[nation]The Orwell Society[/nation]
[nation]Nova Centaurus[/nation] / [nation]N0va Horizon[/nation]
[nation]Alainian Federation[/nation] / [nation]Alainian Otters[/nation]
[nation]Pellon Wesaurps[/nation] / [nation]Patterthippe[/nation]
[nation]Prov[/nation]
[nation]General TN[/nation]
[nation]Zerph[/nation]
[nation]Merethin[/nation] / [nation]Strawberry Moon[/nation]
{{- endsection() -}}
[/box]

[i]This dispatch is updated automatically.[/i]
{%- endblock -%}
